{% extends "base.html" %}
{% load cms_tags %}

{% block title %}{% page_attribute "page_title" %}{% endblock title %}

{% block content %}
	{% placeholder "ifumbire-ihendutse" %}
	<div class="text-center top-space">
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-2">
				</div>
				<div class="col-sm-8">
					<div class="row">
						<div class="col-sm-8">
							{% placeholder "slide-show" %}
						</div>
						<div class="col-sm-4">
							
						</div>
					</div>
				</div>
				<div class="col-sm-2">
				</div>
			</div>
		</div>
	</div>
		  <!-- The end of the upper part containing slide and pub part -->
		  <div class="container-fluid main-body">
				<div class="row">
				  <div class="col-sm-1">
					
				  </div>
				  <div class="col-sm-2 imbuto-menu">
					<ul class="list-group">
					  <li class="list-group-item d-flex justify-content-between align-items-center">
						<div class="col">
						  <input type="text" class="form-control" placeholder="Search">
						</div>
					  </li>
					  <li class="list-group-item d-flex justify-content-between align-items-center">
						<ul class="nav flex-column">
							<li class="nav-item active">
								<a class="nav-link " href="{% url 'imbuto' %}">Imbuto</a>
							</li>
							<li class="nav-item">
								<a class="nav-link active" href="{% url 'imishwi' %}">Imishwi</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="{% url 'ifumbire' %}">Ifumbire</a>
							</li>
							<!-- <li class="nav-item">
								<a class="nav-link" href="#">Link</a>
							</li>
							<li class="nav-item">
								<a class="nav-link disabled" href="#">Disabled</a>
							</li>
							<li class="nav-item">
								<a class="nav-link active" href="#">Active</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="#">Link</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="#">Link</a>
							</li> -->
						</ul>
					  </li>
					</ul>
				  </div>
				  <div class="col-sm-7">
					<div class="album py-5">
					  <div class="container-fluid">
						<div class="row">
								<div class="ifumbire-image">
										{%load static%}
										<img class="border-image"; src="{% static "../static/la.jpg" %}">
										<br>
									</div>
						</div>
					  </div>
					</div>
				  </div>
					  <div class="container">
							
							<h2 class="awasome">AWASOME PRODUCTS USED IN AGRICULTURE </h2>
							
					
				  </div>
				  <div class="container-fluid ifumbire-details">
					  <div class="row">
							<div class="col-md-3">

	
							  </div>
						  <div class="col-md-3">
								<div class="card-body">
							    {% load static %}
							<img style="width:65%" class="border-image"; src="{% static "../static/igishimbo.jpg" %}">
							
									<!--Title-->
									<h4 class="card-title">Title</h4>
									<!--Text-->
									<p class="card-text">Some quick example text to build on the card title and make up the bulk of the
									  card's content.</p>
									<!-- <a href="#" class="btn btn-indigo">Button</a> -->
								  </div>

						  </div>
						  <div class="col-md-3">
								<div class="card-body">
							    {% load static %}
							<img style="width: 60%"  class="border-image"; src="{% static "../static/ifumbi.jpg" %}">
							
									<!--Title-->
									<h4 class="card-title"> Title</h4>
									<!--Text-->
									<p class="card-text">Some quick example text to build on the card title and make up the bulk of the
									  card's content.</p>
									<!-- <a href="#" class="btn btn-indigo">Button</a> -->
								  </div>
							</div>
							<div class="col-md-3">
									<div class="card-body">
									{% load static %}
									<img style="width: 70%"  class="border-image"; src="{% static "../static/majagu.jpg" %}">
								
									
											<!--Title-->
											<h4 class="card-title"> Title</h4>
											<!--Text-->
											<p class="card-text">Some quick example text to build on the card title and make up the bulk of the
											  card's content.</p>
											<!-- <a href="#" class="btn btn-indigo">Button</a> -->
										  </div>
								</div>

					  </div>
					  

				  </div>
				  <!-- <section id="ifumbire-color">
				  <div class="container-fluid ifumbire-details">
						<div class="row">
								<div class="col-md-3">
										<div class="card-body">
												{% load static %}
											<img class="border-image"; src="{% static "../static/ifumbire.jpg" %}">
											
													<!--Title-->
													<!-- <h4 class="card-title">Card title</h4> -->
													<!--Text-->
													<!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
													  card's content.</p> -->
													<!-- <a href="#" class="btn btn-indigo">Button</a> -->
												  <!-- </div> 
									</div>
							<div class="col-md-3">
								  <div class="card-body">
								  {% load static %}
							  <img  class="border-image"; src="{% static "../static/umufuka.jpg" %}"> -->
							  
									  <!--Title-->
									  <!-- <h4 class="card-title">Card title</h4> -->
									  <!--Text-->
									  <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
										card's content.</p> -->
									  <!-- <a href="#" class="btn btn-indigo">Button</a> -->
									<!-- </div>
  
							</div> --> 
							<!-- <div class="col-md-3">
								  <div class="card-body">
								  {% load static %}
							  <img class="border-image"; src="{% static "../static/image1.jpg" %}"> -->
							  
									  <!--Title-->
									  <!-- <h4 class="card-title">Card title</h4> -->
									  <!--Text-->
									  <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
										card's content.</p> -->
									  <!-- <a href="#" class="btn btn-indigo">Button</a> -->
									<!-- </div> -->
							  <!-- </div>
							  <div class="col-md-3">
									  <div class="card-body">
									  {% load static %}
									  <img class="border-image"; src="{% static "../static/ifumbi.jpg" %}"> -->
								  
									  
											  <!--Title-->
											  <!-- <h4 class="card-title">Card title</h4>
											  Text-->
											  <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
												card's content.</p> --> 
											  <!-- <a href="#" class="btn btn-indigo">Button</a> -->
											<!-- </div>
								  </div>
  
						</div>
						
  
					</div>
				</section> -->
				<div class="card-group design-bground">
						<div class="card">
								{% load static %}
						  <img class="card-img-top">  
						  <img style="width: 100%" class="border-image" src="{% static "../static/hey.jpg" %}">
						  <div class="card-footer">
							<h5 class="card-title">title</h5>
							<p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
							
						  </div>
						</div>
						<div class="card">
								{% load static %}
						  <img class="card-img-top"> 
						  <img style="width: 100%" class="border-image"src="{% static "../static/npk.jpg" %}">
						  <div class="card-footer">
							<h5 class="card-title">title</h5>
							<p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
							
						  </div>
						</div>
						<div class="card">
							{% load static %}
						  <img class="card-img-top"> <img  style="width: 100%" class="border-image"  src="{% static "../static/base.jpg" %}" alt="Card image cap">
						  <div class="card-footer">
							<h5 class="card-title">title</h5>
							<p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
							
						  </div>
						</div>
						<div class="card">
								{% load static %}
						  <img class="card-img-top"> <img  style="width: 100%" class="border-image" src="{% static "../static/majagu.jpg" %}" alt="Card image cap">
						  <div class="card-footer">
							<h5 class="card-title">title</h5>
							<p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
							
						  </div>
						</div>
					  </div>
				  
				
				
					<!-- <div class="container">
						<div class="ifumbire-image">
							{%load static%}
							<img src="{% static "../static/la.jpg" %}">
							<br>
						</div>

					</div> -->
					<br>
</div>
				</div>
			  </div>
{% endblock content %}
